@model IEnumerable<PersonModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form enctype="multipart/form-data" action="#" method="post">
        <h3>Upload data</h3>
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
    </form>
    <table class="content-table">
        <tr>
            <td class="headerRow" id="id">
                Id
            </td>
            <td class="headerRow" id="name">
                Name
            </td>
            <td class="headerRow" id="birthDate">
                Date of Birth
            </td>
            <td class="headerRow" id="isMarried">
                Married
            </td>
            <td class="headerRow" id="phoneNumber">
                Phone Number
            </td>
            <td class="headerRow" id="salary">
                Salary
            </td>
            <td id="resetSort" class="headerRow">Reset sort</td>
        </tr>
        @foreach (var person in Model)
        {
            <tr class="record">
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.BirthDate</td>
                <td> @if (@person.IsMarried)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>@person.PhoneNumber</td>
                <td>@person.Salary</td>
                <td><a class="text-danger" asp-route-id="@person.Id" asp-action="Delete">Delete</a></td>
            </tr>
        }
    </table>
</div>
